name: Build and release

on:
  release:
    types: [created]

jobs:
  release:
    name: Release - ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
          - os: ubuntu-20.04
            target: x86_64-unknown-linux-gnu
            bin: rlviser
            name: rlviser-x86_64-unknown-linux-gnu.tar.gz

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: rlviser.exe
            name: rlviser-x86_64-pc-windows-msvc.zip

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get required packages (Linux only)
        if: contains(matrix.platform.os, 'ubuntu')
        run: sudo apt install g++ pkg-config libx11-dev libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
      - name: Cache cargo & target directories
        uses: Swatinem/rust-cache@v2
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          target: ${{ matrix.platform.target }}
          args: "--release"
      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.3
        with: "target/rlviser*"
  publish:
    needs: [release]
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: target/
      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: README.md LICENSE target/rlviser*
          generate_release_notes: true
          body: |
            Remember that you must download `umodel` and setup `assets.path`

            Directions in included README
